* {
    box-sizing: border-box;
  }
  
  body {
    background-color: azure;
    font-size: 16px;
  }

  h1, h2 {
    text-align: center;
    margin: auto 0;
    padding: 25px;
  }

  form {
    text-align: center;
    margin: auto 0;
  }

  div {
      text-align: center;
      margin: auto 0;
  }

/*
  #lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:url(overlay.png) repeat; 
    text-align:center;
}

#lightbox p {
    text-align:right; 
    color:#fff; 
    margin-right:20px; 
    font-size:12px; 
}

#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}

$('.lightbox_trigger').click(function(e) {
	
	// Code that makes the lightbox appear

});

 <div id="lightbox">
            <p>Click to close</p>
            <div id="content">
                <img src="#" />
            </div>

*/